.ant-tabs-tab {
	border-radius: 0 !important;
	border-top: none !important;
	margin-right: 0 !important;

	&:not(:last-of-type) {
		border-right: none !important;
	}

	&:first-of-type {
		border-left: none !important;
	}
}

.editor-container{
	display: flex;
}

.editor-panel {
	width: 800px;
	border: 1px solid #ececec;

	& > .editor-menu {
		padding: 8px 10px;
		border-top: 1px solid #ececec;
	}
}

.editor-std-panel{
	flex: 1;
	border-style: solid;
	border-color: #ececec;

	.std-content{
		height: 227px;
		overflow: auto;
		padding: 5px 20px 30px 20px;
	}
}

.editor-std-panel-horizontal{
	border-width: 1px 1px 1px 0;
}

.editor-std-panel-vertical{
	border-width: 1px 0 0 0;
}